.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('/assets/images/edgar-allan-poe-clipart-15.jpg');
    background-size: cover;
  }


  .del{
    text-align: right;
  }

.routingText{
  cursor: pointer; 
}

.container {
  display: flex;
  /*
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  right: 0;
  */
  justify-content: center;
  align-items: center;

}

.routingText:hover{
  color: lightblue;
}

img{
  background-image: url('/assets/images/poli21.jpg');
  background-size: cover;
}