table {
    width: 100%;
  }

  .mat-row:hover {
    background-color: #E8EAF6;
    cursor: pointer;
  }
/*test comment*/
.container {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.example-header-image {
    background-image: url('/assets/images/edgar-allan-poe-clipart-15.jpg');
    background-size: cover;
  }